<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mongoose Flights</title>

</head>
  <body>
    <h2>All Flights</h2>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Airline</th>
          <th>Flight Number</th>
          <th>Departs</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% flights.forEach(function(m) { %>
          <tr>
            <td><%= m.airport %></td>
            <td><%= m.airline %></td>
            <td><%= m.flightNo %></td>
            <td><%= m.departs %></td>
            <td><a href="/flights/<%= m._id %>">DETAILS</a></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <a href="/flights/new">Add New Flight</a>
</body>
</html>